<ion-header>
  <ion-searchbar inputmode="text" animated></ion-searchbar>
</ion-header>

<ion-content>

 <ion-list>
  <ion-item>
    <ion-label>Pokemon</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Yellow</ion-label>
  </ion-item>
 </ion-list>




  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="speakers">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Pagina Inicial</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="schedule">
        <ion-icon name="briefcase-outline"></ion-icon>
        <ion-label>Trabalhos</ion-label>
        <ion-badge>8</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="calendar">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Agendados</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
