<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pagina Inicial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br><br>

  <form #f="ngForm" class="form" (submit)="validLogin(f)">
    <div class="ion-padding">
      <ion-label position="stacked" color="primary">E-mail:</ion-label>
      <ion-input type="text" name="email" minlength=3 [(ngModel)]="email" required>
      </ion-input>
    </div>
    <div class="ion-padding">
      <ion-label position="stacked" color="primary">Senha:</ion-label>
      <ion-input type="password" name="password" minlength=6 [(ngModel)]="password" required>
      </ion-input>
    </div>
    <ion-button type="submit" name="buttonLogin" expand="block">Entrar</ion-button>
    <div>
      <ion-button type="button" name="buttonCadastrar" expand="block">Cadastrar</ion-button>
    </div>
  </form>

</ion-content>
